*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
    text-align: left;
}


body {
    text-align: center;
    font-family: sans-serif;

}
.startquiz {
    width: 195px;
    height: 55px;
    border: none;
    color: whitesmoke;
    background: forestgreen;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    
}

.container {
  
}

button {
    table-layout: fixed;
    height: 45%;
    width: 20%;
    background-color: blue;
    color: whitesmoke;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;

}

ul {
    list-style: none;
}




